body{
    color: black;
    background-color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #222831;
}

.center{
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
}

.container{
    padding: 0px 50px;
}
 nav a:hover{
    color:#222831;
 }

 article{
    align-items: center;
    justify-content: center;
    display: flex;
 }

 

